<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:genTemplate="http://schemas.microsoft.com/appx/developer/templatestudio"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  IgnorableNamespaces="uap rescap genTemplate uap3">

  <Identity
    Name="4746a5e2-67f3-4be5-8d63-be219c8cb324"
    Publisher="CN=touse"
    Version="1.0.0.0" />
    
  <mp:PhoneIdentity PhoneProductId="4746a5e2-67f3-4be5-8d63-be219c8cb324" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>
    
  <Properties>
    <DisplayName>Fluent Video Player</DisplayName>
    <PublisherDisplayName>touse</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="ms-resource:AppDisplayName"
        Description="ms-resource:AppDescription"
        BackgroundColor="#262626"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"  ShortName="Fluent Video Player" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square310x310Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:SplashScreen Image="Assets\SplashScreen.png"  BackgroundColor="#262626"/>
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="landscape"/>
          <uap:Rotation Preference="portrait"/>
          <uap:Rotation Preference="landscapeFlipped"/>
          <uap:Rotation Preference="portraitFlipped"/></uap:InitialRotationPreference>
      </uap:VisualElements>
      <Extensions>
          <desktop:Extension Category="windows.toastNotificationActivation">
              <desktop:ToastNotificationActivation ToastActivatorCLSID="6772cf91-557b-440a-a2c0-2a7e4429982b" />
          </desktop:Extension>

          <com:Extension Category="windows.comServer">
              <com:ComServer>
                  <com:ExeServer Executable="Fluent Video Player.exe" Arguments="----AppNotificationActivated:" DisplayName="Toast activator">
                      <com:Class Id="6772cf91-557b-440a-a2c0-2a7e4429982b" DisplayName="Toast activator"/>
                  </com:ExeServer>
              </com:ComServer>
          </com:Extension>
          <uap:Extension Category="windows.fileTypeAssociation">
              <uap:FileTypeAssociation Name="fluentvideofile">
				  <uap:SupportedFileTypes>
					  <uap:FileType ContentType="video/mp4">.mp4</uap:FileType>
					  <uap:FileType ContentType="video/divx">.divx</uap:FileType>
					  <uap:FileType ContentType="video/mkv">.mkv</uap:FileType>
					  <uap:FileType ContentType="video/webm">.webm</uap:FileType>
					  <uap:FileType ContentType="video/flv">.flv</uap:FileType>
					  <uap:FileType ContentType="video/vob">.vob</uap:FileType>
					  <uap:FileType ContentType="video/ogv">.ogv</uap:FileType>
					  <uap:FileType ContentType="video/ogg">.ogg</uap:FileType>
					  <uap:FileType ContentType="video/drc">.drc</uap:FileType>
					  <uap:FileType ContentType="video/gif">.gif</uap:FileType>
					  <uap:FileType ContentType="video/gifv">.gifv</uap:FileType>
					  <uap:FileType ContentType="video/mng">.mng</uap:FileType>
					  <uap:FileType ContentType="video/avi">.avi</uap:FileType>
					  <uap:FileType ContentType="video/mov">.mov</uap:FileType>
					  <uap:FileType ContentType="video/qt">.qt</uap:FileType>
					  <uap:FileType ContentType="video/wmv">.wmv</uap:FileType>
					  <uap:FileType ContentType="video/yuv">.yuv</uap:FileType>
					  <uap:FileType ContentType="video/rm">.rm</uap:FileType>
					  <uap:FileType ContentType="video/rmvb">.rmvb</uap:FileType>
					  <uap:FileType ContentType="video/asf">.asf</uap:FileType>
					  <uap:FileType ContentType="video/amv">.amv</uap:FileType>
					  <uap:FileType ContentType="video/m4p">.m4p</uap:FileType>
					  <uap:FileType ContentType="video/m4v">.m4v</uap:FileType>
					  <uap:FileType ContentType="video/mpg">.mpg</uap:FileType>
					  <uap:FileType ContentType="video/mpeg">.mpeg</uap:FileType>
					  <uap:FileType ContentType="video/mp2">.mp2</uap:FileType>
					  <uap:FileType ContentType="video/mpe">.mpe</uap:FileType>
					  <uap:FileType ContentType="video/mpv">.mpv</uap:FileType>
					  <uap:FileType ContentType="video/m2v">.m2v</uap:FileType>
					  <uap:FileType ContentType="video/svi">.svi</uap:FileType>
					  <uap:FileType ContentType="video/3gp">.3gp</uap:FileType>
					  <uap:FileType ContentType="video/3g2">.3g2</uap:FileType>
					  <uap:FileType ContentType="video/mxf">.mxf</uap:FileType>
					  <uap:FileType ContentType="video/roq">.roq</uap:FileType>
					  <uap:FileType ContentType="video/nsv">.nsv</uap:FileType>
					  <uap:FileType ContentType="video/f4v">.fv4</uap:FileType>
					  <uap:FileType ContentType="video/f4p">.f4p</uap:FileType>
					  <uap:FileType ContentType="video/f4a">.f4a</uap:FileType>
					  <uap:FileType ContentType="video/f4b">.f4b</uap:FileType>
				  </uap:SupportedFileTypes>
                  <uap:DisplayName>Fluent Video Player File</uap:DisplayName>
                  <uap:InfoTip>Fluent Video Player File</uap:InfoTip>
                  <uap:EditFlags OpenIsSafe="true"/>
              </uap:FileTypeAssociation>
          </uap:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <uap3:Capability Name="backgroundMediaPlayback"/>
    <Capability Name="internetClientServer"/>
    <uap:Capability Name="videosLibrary"/>
  </Capabilities>

  <genTemplate:Metadata>
    <genTemplate:Item Name="generator" Value="Template Studio"/>
    <genTemplate:Item Name="wizardVersion" Version="v5.4" />
    <genTemplate:Item Name="projectType" Value="NavView" />
    <genTemplate:Item Name="framework" Value="MVVMToolkit" />
    <genTemplate:Item Name="platform" Value="WinUI" />
    <genTemplate:Item Name="appmodel" Value="Desktop" />
  </genTemplate:Metadata>
</Package>
